# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
/node_modules
/admin/node_modules
/frontend/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.junie
Thumbs.db
Homestead.json
Homestead.yaml

# Local env files
.env
.env.*
!.env.example

# Secrets
.db-password

# Laravel
/.phpunit.cache
/auth.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/pail

# Composer
/backend/vendor

# PHPUnit
.phpunit.result.cache

/packages/*
